/* using the BEM model to define the class names as a standard practice , please refer to http://getbem.com/introduction/
https://css-tricks.com/bem-101/*/

.header{
    display: flex;
    top:0;
    margin: 15px;
    background:none;
    background-color: transparent;
    width: 100vw;
    position: absolute;
    z-index: 100;
}

.header__logo{
    height: 24px;
    width: 100px;
    margin-top:7px;
}

.header__items{
    display: flex;
    flex: 1;
    justify-content: center;
}

.header__items>p,
.header__menu>p
{
    margin: 10px;
    /* text-transform: uppercase; */
}

.header__menu{
    display: flex;
    justify-content: flex-end;
    text-transform: capitalize;
}

